__Adderar nytt data för att uppdatera modellen. Nytt data från 2019 och framåt__

__Tar fram en modell med logistisk regression. En för data innan 2019 och en för 2019 för att se om något förändrats i data. Det ser vi genom att titta på modelparametrar__

In [1]:
# Common imports
import numpy as np
import os
import pandas as pd

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

In [2]:
from sklearn.model_selection import GridSearchCV

In [3]:
# Necessary Sklearn objects used in the analysis
from sklearn.metrics import roc_curve, auc
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn import preprocessing

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion
from sklearn.model_selection import cross_val_score

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [4]:
# Where to save the figures
PROJECT_ROOT_DIR = os.getcwd()
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR)

In [5]:
def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [286]:
df0 = pd.read_excel('DataV75TillUffe_2019-02-01_2.xlsx')

In [156]:
df0 = df0[['Plac','Datum','Lopp','G_R', 'A_R', 'T_R', 'SP_R', 'ToR', 'P_R', 'TK_R', 'Ex_R', 'R_R', 'Ts_R']]

In [157]:
# Skapar en unik nyckel på lopp: Gör om Datum och lopp till en sträng

df0['cdate'] = df0.Datum.astype('object')
df0['cLopp'] = df0.Lopp.astype('object')

In [158]:
df0['Key'] = df0['cdate'].astype(str) + df0['cLopp'].astype(str)

__Skapar en målvariabel - vinnare__

In [159]:
df0['Y'] = np.where(df0['Plac'].isin([1]), 1,0)

__Plockar bort de variabler som inte ska med__

In [160]:
# Alla analysvariabler
df1 = df0.copy(deep = True).set_index(['Key'])

__Läser in nytt data från leif - Första omgången nytt data__

In [161]:
df0_1 = pd.read_excel('UppdateradData.xlsx')

df0_1 = df0_1[['Plac','Datum','Lopp','G_R', 'A_R', 'T_R', 'SP_R', 'ToR', 'P_R', 'TK_R', 'Ex_R', 'R_R', 'Ts_R']]
# Skapar en unik nyckel på lopp: Gör om Datum och lopp till en sträng
df0_1['cdate'] = df0_1.Datum.astype('object')
df0_1['cLopp'] = df0_1.Lopp.astype('object')
df0_1['Key'] = df0_1['cdate'].astype(str) + df0_1['cLopp'].astype(str)
df0_1['Y'] = np.where(df0_1['Plac'].isin([1]), 1,0)
df1_1 = df0_1.copy(deep = True).set_index(['Key'])

__Läser in nytt data från leif - Andra omgången nytt data__

In [287]:
df0_2 = pd.read_excel('DataV75TillUffeS20190622.xlsx')

In [288]:
df0_2 = df0_2[['Plac','Datum','Lopp','G_R', 'A_R', 'T_R', 'SP_R', 'ToR', 'P_R', 'TK_R', 'Ex_R', 'R_R', 'Ts_R']]
# Skapar en unik nyckel på lopp: Gör om Datum och lopp till en sträng
df0_2['cdate'] = df0_2.Datum.astype('object')
df0_2['cLopp'] = df0_2.Lopp.astype('object')
df0_2['Key'] = df0_2['cdate'].astype(str) + df0_2['cLopp'].astype(str)
df0_2['Y'] = np.where(df0_2['Plac'].isin([1]), 1,0)
df1_2 = df0_2.copy(deep = True).set_index(['Key'])

__Nu konkatinerar vi ihop dessa datamängder och uppdaterar modellen__

In [289]:
df1 = pd.concat(([df1, df1_1, df1_1]), axis = 0)

In [290]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23163 entries, 2016-05-21 00:00:001 to 2019-04-21 00:00:007
Data columns (total 16 columns):
Plac     23163 non-null int64
Datum    23163 non-null datetime64[ns]
Lopp     23163 non-null int64
G_R      21412 non-null float64
A_R      20233 non-null float64
T_R      21486 non-null float64
SP_R     9407 non-null float64
ToR      20370 non-null float64
P_R      20601 non-null float64
TK_R     13960 non-null float64
Ex_R     15148 non-null float64
R_R      15148 non-null float64
Ts_R     23163 non-null int64
cdate    23163 non-null object
cLopp    23163 non-null object
Y        23163 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(2)
memory usage: 3.0+ MB

In [332]:
num_attribs = ['G_R', 
'A_R', 
'T_R',
'SP_R',
'ToR',
'P_R',
'TK_R',
'Ex_R',
'R_R',
'Ts_R'   
]

__Nu bygger vi upp en pipeline__

In [292]:
# Create a class to select numerical or categorical columns 
# since Scikit-Learn doesn't handle DataFrames yet
# Denna klass måste vi göra för att särskilja numeriska variabler mot character variabler
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [293]:
# Egen klass för att sätta dummyvariabler

class SetDummyVar(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        tempdf = pd.get_dummies(X[self.attribute_names], columns = self.attribute_names)
        return tempdf.values

In [294]:
# Pipeline för numeriska variabler
num_pipeline = Pipeline([
        ('selector', DataFrameSelector(num_attribs)),
        ('imputer', Imputer(strategy="median"))
    ])

cat_pipeline = Pipeline([
        ('dummy_cat', SetDummyVar(cat_attribs)),
    ])

In [295]:
full_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
    ])

In [296]:
df2 = df1.copy(deep = True)

__Nu plockar vi ut 52 (20%) v75 omgångar för att använda dem som test och utvärdera modellen på__

In [298]:
df_2018 = df2[df2.Datum < '2019-01-01']

In [299]:
df_2019 = df2[df2.Datum >= '2019-01-01']

In [300]:
# Före 2019
features_2018 = full_pipeline.fit_transform(df_2018)
## En array som håller det vi vill predikter
label_2018 = df_2018 ["Y"].copy()

In [301]:
# Efter 2018
features_2019 = full_pipeline.fit_transform(df_2019)
## En array som håller det vi vill predikter
label_2019 = df_2019["Y"].copy()

In [302]:
from sklearn.linear_model import LogisticRegression

In [303]:
log_clf = LogisticRegression(solver="liblinear", random_state=42)

## Model 2018 ranker

In [310]:
model_2018 = log_clf.fit(features_2018,label_2018)
model_2018.coef_

log_clf.fit(features_2018,label_2018)
predict = log_clf.predict_proba(features_2018)
fpr, tpr, threshold = roc_curve(label_2018,predict[:,1])
roc_auc = auc(fpr,tpr)
print(roc_auc)

0.719217546901238

In [311]:
c_list_18 = model_2018.coef_.tolist()

import math

for var,par in zip(num_attribs, c_list_18[0]):
    OddsRatio = math.exp(float(par))
    print(var +':', str(round(par,3)) + ':', round(OddsRatio,2))

G_R: 0.179: 1.2
A_R: 0.201: 1.22
T_R: 0.131: 1.14
SP_R: 0.07: 1.07
ToR: 0.102: 1.11
P_R: 0.177: 1.19
TK_R: 0.134: 1.14
Ex_R: 0.006: 1.01
R_R: 0.048: 1.05
Ts_R: 0.188: 1.21

In [329]:
rank = []
parlist = []
oddsr = []
for var, par in zip(num_attribs, c_list_18[0]):
    OddsRatio = math.exp(float(par))
    rank.append(var)
    parlist.append(par)
    oddsr.append(round(OddsRatio,2)) 
    
dictlist = {'Rank':rank, 'Parameter': parlist, 'Oddskvot': oddsr}
# Konverterar till Dataframe
df_val_18 = pd.DataFrame.from_dict(dictlist)
df_val_18.to_excel('rankval_18.xlsx', index = False)
df_val_18

   Rank  Parameter  Oddskvot
0   G_R   0.179359      1.20
1   A_R   0.201346      1.22
2   T_R   0.130980      1.14
3  SP_R   0.070159      1.07
4   ToR   0.102473      1.11
5   P_R   0.176957      1.19
6  TK_R   0.134198      1.14
7  Ex_R   0.005795      1.01
8   R_R   0.048101      1.05
9  Ts_R   0.188372      1.21

## Nu gör vi samma övning för 2019

In [313]:
model_2019 = log_clf.fit(features_2019,label_2019)

In [314]:
log_clf.fit(features_2019,label_2019)
predict19 = log_clf.predict_proba(features_2019)

In [315]:
fpr, tpr, threshold = roc_curve(label_2019,predict19[:,1])
roc_auc = auc(fpr,tpr)
print(roc_auc)

0.7659111066073659

In [323]:
c_list_19 = model_2019.coef_.tolist()

import math

for var,par in zip(num_attribs, c_list_19[0]):
    OddsRatio = math.exp(float(par))
    print(var +':', str(round(par,3)) + ':', round(OddsRatio,2))

G_R: 0.037: 1.04
A_R: 0.325: 1.38
T_R: 0.111: 1.12
SP_R: 0.073: 1.08
ToR: 0.025: 1.02
P_R: 0.261: 1.3
TK_R: 0.048: 1.05
Ex_R: 0.112: 1.12
R_R: 0.119: 1.13
Ts_R: 0.143: 1.15

In [330]:
rank = []
parlist = []
oddsr = []
for var, par in zip(num_attribs, c_list_19[0]):
    OddsRatio = math.exp(float(par))
    rank.append(var)
    parlist.append(par)
    oddsr.append(round(OddsRatio,2)) 
    
dictlist = {'Rank':rank, 'Parameter': parlist, 'Oddskvot': oddsr}
# Konverterar till Dataframe
df_val_19 = pd.DataFrame.from_dict(dictlist)
df_val_19.to_excel('rankval_19.xlsx', index = False)
df_val_19

   Rank  Parameter  Oddskvot
0   G_R   0.036863      1.04
1   A_R   0.325426      1.38
2   T_R   0.111027      1.12
3  SP_R   0.072541      1.08
4   ToR   0.024591      1.02
5   P_R   0.261365      1.30
6  TK_R   0.048484      1.05
7  Ex_R   0.111894      1.12
8   R_R   0.119199      1.13
9  Ts_R   0.143493      1.15

In [337]:
df_2019[num_attribs].describe().to_excel('describe19.xlsx')

In [338]:
df_2018[num_attribs].describe().to_excel('describe18.xlsx')

In [335]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17913 entries, 2016-05-21 00:00:001 to 2018-12-31 00:00:007
Data columns (total 16 columns):
Plac     17913 non-null int64
Datum    17913 non-null datetime64[ns]
Lopp     17913 non-null int64
G_R      16162 non-null float64
A_R      15229 non-null float64
T_R      16236 non-null float64
SP_R     4730 non-null float64
ToR      15120 non-null float64
P_R      15822 non-null float64
TK_R     10144 non-null float64
Ex_R     9898 non-null float64
R_R      9898 non-null float64
Ts_R     17913 non-null int64
cdate    17913 non-null object
cLopp    17913 non-null object
Y        17913 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(2)
memory usage: 2.3+ MB

In [336]:
df_2018

,Plac,Datum,Lopp,G_R,A_R,T_R,SP_R,ToR,P_R,TK_R,Ex_R,R_R,Ts_R,cdate,cLopp,Y
Key,,,,,,,,,,,,,,,,
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,1,2016-05-21,1,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1,2016-05-21 00:00:00,1,1
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,0.0,NaN,NaN,3.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,3.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,2.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,3,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,2.0,3.0,3.0,NaN,NaN,0.0,NaN,NaN,NaN,2,2016-05-21 00:00:00,1,0
2016-05-21 00:00:001,0,2016-05-21,1,0.0,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,1,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,3.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,2.0,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,1,2016-05-21,2,3.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,3,2016-05-21 00:00:00,2,1
2016-05-21 00:00:002,0,2016-05-21,2,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,0.0,1.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,2,2016-05-21 00:00:00,2,0
2016-05-21 00:00:002,0,2016-05-21,2,1.0,3.0,3.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,2,0
2016-05-21 00:00:003,0,2016-05-21,3,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,3.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,1,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,2016-05-21 00:00:00,3,0
2016-05-21 00:00:003,0,2016-05-21,3,2.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,3,2016-05-21 00:00:00,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 00:00:005,0,2018-12-31,5,3.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,2.0,0,2018-12-31 00:00:00,5,0
2018-12-31 00:00:005,0,2018-12-31,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,5,0
2018-12-31 00:00:005,0,2018-12-31,5,0.0,1.0,3.0,1.0,0.0,2.0,2.0,1.0,1.0,2,2018-12-31 00:00:00,5,0
2018-12-31 00:00:005,0,2018-12-31,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,5,0
2018-12-31 00:00:005,0,2018-12-31,5,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,3,2018-12-31 00:00:00,5,0
2018-12-31 00:00:005,1,2018-12-31,5,1.0,3.0,0.0,2.0,2.0,1.0,1.0,3.0,0.0,1,2018-12-31 00:00:00,5,1
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,1,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,1,2018-12-31,6,3.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,0.0,0,2018-12-31 00:00:00,6,1
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,2.0,3.0,3.0,1.0,0.0,0.0,0.0,2.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:006,0,2018-12-31,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,6,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,3.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,1,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,2.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,2,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,0,2018-12-31,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2018-12-31 00:00:00,7,0
2018-12-31 00:00:007,1,2018-12-31,7,2.0,3.0,0.0,3.0,0.0,1.0,1.0,2.0,0.0,0,2018-12-31 00:00:00,7,1